<html>
<head>
    <title>Hello React</title>
</head>
<body>
    <<<<<<< HEAD
    <div class="parallax-container first">
        <div class="row">
            <div class="col s12">
                <span class="title">TBD Planner (Logo?)</span>
            </div>
        </div>
        <div class="row">
            <div class="col s10">
                <div class="title-message-bg">
                    <span class="title-message flow-text">Inspirational Message, or description about our service. By writing alot of text here we can get a nice looking abstract. This is filler text so we can see what it looks like. </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 left">
                <a href="#" class="teal lighten-1 waves-effect waves-light btn-large z-depth-3" style="color: white; margin-right: 5%">Login</a>
                <a href="#" class="waves-effect waves-light btn-large z-depth-3">Register</a>
            </div>
        </div>


        <div class="parallax"><img src="images/mount-everest-413_1280.jpg" alt=""></div>
    </div>

    <div class="container second">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block hoverable">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Action thing 1</h5>

                    <p class="light">Words words words. This is a paragraph of text we can fill when we have some wonderful content about our wonderful web app.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block hoverable">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Action thing 2</h5>

                    <p class="light">By utilizing energy obtained from the core of the sun, we shall rule to world with our amazing coding powers. Use our product now!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block hoverable">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Action thing 3</h5>

                    <p class="light">We have nothing more to say. Use our app and we will guarrentee you endless amounts of chocolate from Mt. Hershey!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container">

        <div class="parallax"><img src="images/winter-105710_1280.jpg" alt=""></div>
    </div>

    <div class="container second">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block hoverable">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Action thing 1</h5>

                    <p class="light">Words words words. This is a paragraph of text we can fill when we have some wonderful content about our wonderful web app.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block hoverable">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Action thing 2</h5>

                    <p class="light">By utilizing energy obtained from the core of the sun, we shall rule to world with our amazing coding powers. Use our product now!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block hoverable">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Action thing 3</h5>

                    <p class="light">We have nothing more to say. Use our app and we will guarrentee you endless amounts of chocolate from Mt. Hershey!</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer</h5>
                    <p class="grey-text text-lighten-4"></p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://ethanarrowood.com">Ethan Arrowood</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../Scripts/materialize/materialize.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>
    =======
    <div id="content"></div>
    >>>>>>> master
    <script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
    <script src="~/Scripts/Home.jsx"></script>
</body>
</html>