.nav-inverse {
    color: #eb3812 !important;
}

.ui-input-text {
    border: none !important;
    border-color: transparent !important;
}

@media(min-width:768px) {
    .affix .nav-inverse {
        color: #eb3812 !important;
    }
    .affix-top .nav-inverse {
        color: #FFF !important;
    }
}